<h1 class="mb-4 text-3xl font-bold" style="text-align: left;">Edit Question</h1>

<%= render "form", question: @question %>

<br>

<div>
<div class="text-left mt-6 mb-6">
<%= link_to 'Back to My Quizzes', quizzes_path, class: btn_back %>
</div>
</div>
