<h1 class="mb-4 text-3xl font-bold" style="text-align: left;">Edit Quiz</h1>

<%= render "form", quiz: @quiz %>

<br>

<div>
  <div class="text-left mt-6 mb-6">
  <%= link_to 'Back to My Quizzes', quizzes_path, class: btn_back %>
  </div> 
</div>
