<h1><%= @title %></h1>
<p><%= @description %></p>

<div class="overflow-x-auto rounded-lg border border-gray-200">
  <table id="quizzes" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">ID</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Description</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Created At</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <%= render partial: 'quiz_row', collection: @quizzes, as: :quiz %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "New quiz", new_quiz_path, class: btn_class %>
</p>
