<% flash.each do |type, message| %>
  <% if type == 'alert' %>
    <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
      <strong class="block font-medium text-red-800"> <%= message %> </strong>
    </div>
  <% else %>
    <div role="alert" class="rounded border-s-4 border-lime-500 bg-lime-50 p-4">
      <strong class="block font-medium text-lime-800"> <%= message %> </strong>
    </div>
  <% end %>
<% end %>